nav a {
    text-decoration: none;
    color: black;
}

.logo-img {
    width: 40px;
    vertical-align: middle;
}

.logo-texto {
    font-size: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
}